body {
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}

footer {
  margin-top: auto;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2.3em 0;
}
.site-title {
  margin-left: 2.3em;
}
.nav {
  align-self: center;
  margin: 0 0.8em 0 0;
}

.header h1 {
 display: block;
}
.site-header-container nav {
 margin: 1.2em 0 0 5%;
}
header ul li {
 display: inline-block;
 padding: 0 1.4em 0 0;
 font-size: 20px;
}
header ul li a {
 text-decoration: none;
 color: black;
 transition-property: font-size;
 transition-duration: 1s;
}
li a.active {
 color: #000000;
 border-bottom: 2px solid #000000;
 font-weight: 300;
}
li a:hover {
 color: #B6B6B6;
 font-size: 30px;
}


.body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  padding-bottom: 100px;
}


.site-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}


img[src="images/headshot.png"] {
  width: 10%;
  transition-property: width, height;
  transition-duration: 2s;
}
img[src="images/headshot.png"]:hover {
  width: 15%;
  height: 15%;
}
img[src="images/logo.jpg"] {
  width: 4%;
  opacity: 50%;
  transition-property: opacity;
  transition-duration: 2s;
}
img[src="images/logo.jpg"]:hover {
  width: 4%;
  opacity: 100%
}
img {
  width: 10%;
}
